<h1>Estudo de Caso Spring Boot - Heliton Rezende.</h1>
<div class="container">
    <p></p>
    <h2><p><span>FrameWorks Utilizados:</span></p></h2>
    <ul>
        <li><a href='https://mvnrepository.com'>Maven</a></li>
        <li><a href='https://spring.io/projects/spring-boot/'>Spring Boot</a></li>
        <li><a href='https://spring.io/projects/spring-security'>Security</a></li>
        <li><a href='https://spring.io/projects/spring-data-jpa'>JPA com Hibernat</a></li>
        <li><a href='http://getbootstrap.com/'>Bootstrap e CSS avançado</a></li>
        <li><a href='https://angular.io/'>Angular v9</a></li>
    </ul>
    <h4><p><span>Objetivos:</span></p></h4>
    <ul>
        <li><strong>Validar usuário: </strong>Spring - Security.</li>
        <li><strong>Acesso ao banco de dados: </strong>Spring - JPA e Hibernate</li>
        <li><strong>SPA : </strong>Angular v9</li>        
    </ul>
</div>